body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

#legend {
  padding: .5em;
}

#tooltip {
  position: absolute;
  color: black;
  background-color: white;
  padding: .3em .5em;
  border-radius: 5px;
  border: 1px solid gray;
}
