body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
}

#legend {
  padding: .5em;
}

#tooltip {
  position: absolute;
  color: black;
  background-color: white;
  padding: .2em;
  border-radius: 2px;
}
